{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Accountancy Practice in Gateshead, North East England">
    <meta name="keywords" content="Barkley, Group, Accountancy, Practice, Self Assessment, Personal Tax, Corporation Tax, VAT, Payroll">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>{% block title %} Home | Barkley Group {% endblock %}</title>

</head>
<body>



</body>
</html>